.action-call {
  width: 100%;
  background-color: #976C6E;
}

.add-event {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #333940;
  border: solid black 1px;
}

.event-modal {
  width: 40vw;
}
