.my-container {
  left: 0;
  top: 0;
  // background-image: url("https://images.unsplash.com/photo-1503551723145-6c040742065b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-color: #698592;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.upcoming-events {
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  z-index: 2;
  color: black;
}

div.upcoming-events span {
  font-weight: 550;
  font-style: italic;
}

.event {
  border: solid black 2px;
  margin-bottom: 15px;
  background-color: white;
  color: black;
}

.event-title {
  font-weight: 600;
  margin-top: 10px;
  z-index: 2;
}
