body {
  font-family: 'Zilla Slab', serif;
}

.body {
  background-color: #F0F5F8;
}

.navbar-brand>img {
  height: 90px;
  width: 90px;
}

.hidden {
  display: none;
}

.navbar {
  background-color: #C9C5BF;
}

.landing {
  padding-top: 15px;
}

@media only screen and (max-width: 750px) {
  .navbar-brand>img {
    height: 50px;
    width: 50px;
  }
  .landing {
    font-size: 18px;
  }
}
