.map {
  width: 85%;
  margin: 0 auto;
}

.state-tile  {
  cursor: pointer;
}

.svg_marker {
  fill: white;
}

.state-tile:hover {
  fill: #7D7C50;
}

.quote-box {
  border: solid black 2px;
  background-color: #976B6E;
  width: 200px;
}

@media only screen and (max-width: 750px) {
  .banner {
    display: none
  }
  .map {
    width: 100%;
  }
}
