.state-name {
  font-size: 40px;
}

.card {
  margin-bottom: 20px;
  margin-top: 25px;
}

figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin-left: 1px;
  margin-top: 90px;
  margin-bottom: 12vh;
  min-width: 220px;
  max-width: 450px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  background: #353B37;
  transform: skew(-8deg) rotate(-8deg) translate(0, -50%);
  padding: 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
  border: solid black 3px;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

.legislators a {
  color: white;
}

.legislators a:hover {
  color: #976B6E;
  text-decoration: none;
}

.legislators {
  position: fixed;
  right: 5vh;
  padding: 10px;
  color: white;
  background-color: #343B36;
}

.ballot-tiles {
  left: 30vh
}

// #address {
//   padding-bottom: 10px;
// }
