.svg {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}

.svg text {
  font-weight:600;
  fill: black;
  font-size: 22px;
}
