.svg {
  display: block;
  width: 100%;
  min-width: 400px;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  // height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

video {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}


.svg text {
  font-weight: bold;
  fill: black;
  font-size: 18px;
}

.line-chart {
  width: 50vw;
  height: 50vw;
  padding: 2vw;
}
